<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar">
  <div class="left-top">
    <div class="username">
      <a href="#">Tom</a>
    </div>
    <div class="createchat">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="left-bottom">
    <div class="chatroom">
      <div class="chatname">
        <a href="#">chatroom1</a>
      </div>
    </div>
    <div class="chatroom">
      <div class="chatname">
        <a href="#">chatroom2</a>
      </div>
    </div>
  </div>
</div>
</html>